.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	// backdrop-filter: blur(3px);
	// -webkit-backdrop-filter: blur(3px);
    z-index: 10;
  }
  
  .modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 60%; 
  }

.form-section-syllabus {
    width: 33%;
    aspect-ratio: 3/3.1;
    position: fixed;
    border-radius: 0.9375rem;
    background: #FFF;
    box-shadow: 4.521px 4.521px 45.212px 11.303px rgba(0, 0, 0, 0.20);
    color: #806441;
    padding: 1vw 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width: 786px){
    .form-section-syllabus{
        width: clamp(20rem , 2vw , 22rem);
        height: 55vh !important;
        padding: 2vw 1rem;
    }
}

.top {
    display: flex;
    justify-content: space-between;
}

.form-head h3{
    color: #806441;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(1.4rem , 1.5vw , 1.625rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.5vw;
    letter-spacing: 0.15vw;
}

.form-head p{
    color: #806441;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(0.8rem , 1.2vw , 1.065rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    letter-spacing: 0.1vw;
}


.form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.download-btn button{
    border-radius: 0.3125rem;
    outline: none;
    cursor: pointer;
    background: #806441;
    box-shadow: 2.261px 2.261px 15.824px 0px rgba(0, 0, 0, 0.25);
    aspect-ratio: 10/1;
    margin-top: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}
.input{
    display: flex;
    flex-direction: column;
}

.input input{
    padding: 0.5vw;
    border: 1px solid #806441;
    border-radius: 5px;
    margin-bottom: 1vw;
    outline: none;
    font-size: clamp(0.8rem , 1.2vw , 1.06rem);
    font-weight: 600;
    color: #4b4545;
}
textarea{
    padding: 0.5vw;
    border: 1px solid #B86CD2;
    border-radius: 5px;
    outline: none;
    font-size: clamp(0.6rem , 1vw , 1rem);
    font-weight: 600;
    color: #B86CD2;
}


label{
    font-size: clamp(0.6rem , 1vw , 1rem);
    font-weight: 600;
    color: #806441;
}

.select select {
    width: 100%;
    padding: 0.6vw;
    font-size: clamp(0.6rem , 1vw , 1rem);
    font-weight: 600;
    border: 1px solid #B86CD2;
    border-radius: 5px;
    outline: none;
    color: #B86CD2;

}

.disable {
    display: none;
}
