@import "../../css-config/mixins.scss";
.main-content {
    background-color: #f5dfc1;
    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        @include md {
            max-width: 1200px;
        }
    }
}
